<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title > 
     </title>
     <style>
        .center {
          margin: auto;
          width: 40%;
           border: 3px solid #111110;
          padding: 100px;
        }
        </style>
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
    <div class="center">
<h1> IP Details  </h1> 
<h3>
<br>
IP: <%= ip %>
<br>
City: <%= city %>
<br>
Region: <%= region_name %>
<br>
Country: <%= country_name %>
<br>
Continent: <%= continent_name %>
<br>
latitude: <%= latitude %>
<br>
longitude: <%= longitude %>
</h3>
</div>
</body>
</html>

